*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4b;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.number-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number-container h1{
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    margin: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    
}

.bcg-green {
    background-color: lightgreen;
}

.bcg-yellow {
    background-color: yellow;
}

.bcg-square {
    background-color: #1289b2;
}

.bcg-coral {
    background-color: lightcoral;
} 